:root {
--wide: 100%;
--tall: 250px;
--grid1color: #2ebae7;
--grid2color: #2aaae1;
--backgroundclr: #007399;
--buttonclr1: #4CAF50;
--buttonclr2: #006622;
--titlecolor: #66D9EF;
}
body {
	background-color: var(--backgroundclr);
}
table#t01 {
	width: 100%; 
	background-color: #f1f1c1;
}
.name:before {
   content: "The Embassy";
}
.subname:before {
	content: "Here is all the Home Servers with Available Links";
}
.vernum:before {
	content: "1.01.00";
}
table.single1 {
	width: 90%; 
	background-color: var(--grid1color);
	border: 1px solid black;
	text-align: center;
}
table#knownip {
}
table#top01	{
	width: 90%;
}
a{
	color: #00001a;
}
footer {
    margin-left: 50px;
}
.button {
    background-color: var(--buttonclr1); /* Green */
    border: 1px solid var(--buttonclr2);
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
	line-height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 300px;
	height: 50px;
}
.button2 {
    background-color: var(--buttonclr1); /* Green */
    border: 1px solid var(--buttonclr2);
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
	line-height: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 300px;
	height: 50px;
}